<div class="game">

  <!--  header section-->
  <button
    class="btn btn-primary"
    type="button"
    title="{{resetGameBtnTitle}}"
    [disabled]="!game?.players.length"
    (click)="resetGame()">Reset Game</button>
  <button
    *ngIf="!player?.myCards?.length && player?.uuid"
    class="btn btn-primary"
    type="button"
    title="{{startGameBtnTitle}}"
    (click)="startGame()"
  >Start Game</button>

  <form *ngIf="!player" [formGroup]="playerForm" (ngSubmit)="joinGame()">
    <label>
      Name:<input type="text" class="form-control" formControlName="name" placeholder="Your name">
    </label>
    <button
      type="submit"
      class="btn btn-primary"
      title="{{joinBtnTitle}}"
      [disabled]="!playerForm.valid">Join Game</button>
  </form>

  <div *ngIf="player">
    <div>Have fun, {{player.name}} :)</div>
  </div>

  <!-- game state section with played cards -->
  <section class="game-state" *ngIf="game">
    <div *ngIf="game.players?.length" class="players">
      <app-player *ngFor="let player of game.players" class="player" [player]="player"></app-player>
    </div>

  <!-- story state section -->
    <section
      *ngIf="game.started && game.storyState.playedCards.length === game.players.length"
      class="board">
      <app-story-state
        [game]="game" [player]="player"
        (guessStoryCard)="guessStoryCard($event)"
      ></app-story-state>
    </section>
  </section>

  <!--  player state section -->
  <section *ngIf="player" class="player-state">
    <app-player-state
      [player]="player"
      [gameState]="game"
      (startStory)="startStory($event)"
      (playStory)="playStory($event)"
    ></app-player-state>
  </section>

  <div>{{game | json}}</div>

</div>


